<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/assets/logo.png" />
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="./js/index.js"></script>
</head>

<body>
    <div class="main-container">
        {{>header}}
        <img src="assets/clouds.png" alt="clouds-image" width="200" />
        <p>{{description}}</p>
    </div>
    {{>footer}}
</body>

</html>